emms/
snippets
init.elc
autosaves
auto-save-list
projectile-bookmarks.eld
/irony/bin/irony-server
irony
/ac-comphist.dat
/projectile.cache
/init.org.backup
/bookmarks
/.mc-lists.el
anaconda-mode
/recentf
/eshell/history
.sx/
private.el
url/
url/init.el
/smex-items
/eshell/lastdir
/.org-id-locations
/project-to-org-filepath
.python-environments
.tutor
ibus-el
lisp
project-explorer-cache
pyim
request
semanticdb
tramp
tutorial
flycheck_init.el
/srecode-map.el
magithub/
.cask/
/.tern-port
games
eclipse.jdt.ls
elpa
.abbrev
.cache
company-statistics-cache.el
speed-type
xkcd